.wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: var(--content-w-narrow);
}

.lede {
  font-size: 1.8rem;
  font-style: italic;
  text-align: center;
}
.quote {
  margin: 0 -2rem 2rem;
  padding: 2rem;
  font-size: 2.6rem;
  text-align: center;
  font-style: italic;
  font-variation-settings: "opsz" 144;
  background-color: hsl(343, 77%, 49%);
  color: white;
}
