.countdown {
  padding: 1rem 2rem;
  font-family: var(--highlight-font);
  color: white;
  text-align: center;
  background: var(--highlight);
}

.countdown__heading {
  font-size: 1.4rem;
}

.countdown__time {
  font-size: 2rem;
}
