html {
  font-size: 135%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media screen and (--viewport-narrow-min) {
  html {
    font-size: 155%;
  }
}

body {
  box-sizing: border-box;
  color: #000;
  font-family: var(--primary-font);
  font-variation-settings: "opsz" 14;
  letter-spacing: -0.015em;
  text-align: left;
}

p {
  padding-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--highlight-font);
  padding-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.15;
}

a {
  color: inherit;
}
